In [ ]:
s = set()

In [ ]:
s.add(1)
s.add(2)

s.clear()

s = {1, 2, 3}
# changes won't affect the original or the other way around
sc = s.copy()
s.add(4)

In [ ]:
# returns the differences between 2 sets
s.difference(sc)

s1 = {1, 2, 3}
s2 = {1, 4, 5}

# returns the s1 set after remove all the elements found in the s2 set
s1.difference_update(s2)

# tosh the 2 element
# don't get an error if the element is not in the set
s.discard(2)

In [ ]:
s1 = {1, 2, 3}
s2 = {1, 2, 4}

# the common elements
s1.intersection(s2)

# update the set s1
s1.intersection_update(s2)

In [ ]:
s1 = {1, 2}
s2 = {1, 2, 4}
s3 = {5}

s1.isdisjoint(s2)
s1.isdisjoint(s3)

s1.issubset(s2)
s2.issuperset(s1)

# the element that is exactly in one of the sets
s1.symmetric_difference(s2)

# all the elements of the sets
s1.union(s2)

s1.update(s2)